{%load static%}
<html>
    
    <head>
        <title> 
            {{ title }}
        </title>
        
        <link rel="stylesheet" 
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" 
              integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" 
              crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="{%static 'tasks/bulma.css'%}">
        <link rel="stylesheet" href="{%static 'tasks/custom.css'%}">
        
    </head>

    <body>

        {% include 'tasks/navbar.html'%}

        <h1 class="title">TasksMaster</h1>
        <h2 class="subtitle">{{ title }}</h2>
        
        

        {% block  content %}

        {% endblock content %}

        <p id="trademark">CopyRight TasksMaster 2023</p>

        {% block javascript %}
        {% endblock javascript %}
        
    </body>

</html>